{
  "presets": [
    ["env", {
      "targets": {
        "node": "current"
      }
    }],
    "stage-0"
  ],
  "plugins": [
    "lodash",
    ["module-resolver", {
      "alias": {
        "^/(.+)": "./src/\\1"
      }
    }]
  ]
}
